<nav class="navbar navbar-expand-lg " style="background-color: rgb(151, 46, 134);">
    <div class="container-fluid">
      <!-- <a class="navbar-brand" href="#" style="color: aliceblue;">Navbar</a> -->
      <div class="btn-group">
        <button class="btn btn-secondary" style="width: 170px" type="submit">
          <i class="bi bi-slash-circle"></i>
          Break
        </button>
        <button class="btn btn-primary" style="width: 170px;margin-left: 8px;" type="submit">
          <i class="bi bi-skip-start-circle"></i>
          Ready
        </button> 
      </div>
   
      <button  routerLink="/login" class="btn btn-danger" style="width: 170px;margin-left: 650px;" type="submit">
        Log out
      </button>
      
    </div>
  </nav>
    
  <div class="row">
      <div class="col-lg-2">
      </div>
      <div class="col-lg-10" >
          <div class="button-group">
              <button class="btn btn-success" style="width: 170px" type="submit">
                <i class="bi bi-telephone-fill"></i>
                    Answer
                </button>
                <button class="btn btn-danger" style="width: 170px" type="submit">
                  <i class="bi bi-telephone-x-fill"></i>
                  Disconnect
                </button>
                <button class="btn btn-warning" style="width: 170px" type="submit">
                  <i class="bi bi-pause-fill"></i>
                  Hold
                </button>
                <button class="btn btn-info" style="width: 170px" type="submit">
                  <i class="bi bi-box-arrow-up"></i>
                  Retrieve
                </button>
               
          </div>
         
      </div>
  </div>
  
  